@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-color: var(--white);
  height: 475px;
  width: 300px;
  margin: auto;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.container img {
  border-radius: 12px;
  margin-bottom: 20px;
}

.container h2 {
  color: var(--dark-blue);
  font-size: 1.4em;
  text-align: center;
  padding: 5px;
}

.container p {
  color: var(--grayish-blue);
  font-size: 0.95em;
  text-align: center;
  padding: 13px;
}


/* standard code that comes with the challenge */
.attribution {
  font-size: 14px; /* original was 11px */
  text-align: center;
  margin-bottom: 5px; /* original had no margin-bottom */
  margin-top: -25px; /* original had no margin-top */
}
.attribution a {
  color: hsl(0, 0%, 0%);
}

